<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shadow.gmall.user.mapper.UmsMemberMapper">
    <select id="getAll"  resultType="com.shadow.gmall.beans.UmsMember">
        select * from ums_member
    </select>

    <resultMap id="QUMSABI" type="com.shadow.gmall.beans.UmsMember" autoMapping="true" >
        <id column="id" property="id"></id>
        <collection property="umsaddresses" javaType="List" ofType="com.shadow.gmall.beans.UmsMemberReceiveAddress" select="QUMSADD" column="id">
            <id column="id" property="id"/>
        </collection>
    </resultMap>

    <select id="queryUmsAddressById" resultMap="QUMSABI">
        SELECT * FROM ums_member WHERE id = #{id}
    </select>

    <select id="QUMSADD" resultType="com.shadow.gmall.beans.UmsMemberReceiveAddress">
        SELECT * FROM ums_member_receive_address WHERE member_id=#{id}
    </select>
</mapper>
